{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            <div>Сортировать по:
                <a href="{{page}}?sort=name" class="sort-item">названию</a>
                <a href="{{page}}?sort=asc_price" class="sort-item">начиная с дешевых</a>
                <a href="{{page}}?sort=desc_price" class="sort-item">начиная с дорогих</a>
            </div>
        </div>

        <div class="content">
            {% for phone in phones %}
            <div class="phone">
                <div class="name"><a href="./{{phone.slug}}">{{phone.name}}</a></div>
                <div class="price">Стоимость {{phone.price}}p.</div>
                <div><img src="{{phone.image}}" /></div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}